@{
    ViewData["Title"] = "Cadastro de Colaboradores";
}

<div class="texte-center">
    
    <h1 class= "display-4">Cadastro de Colaboradores</h1>

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a role="button" class="btn btn-primary">Adicionar novo Colaborador</a>
    </div>

    <table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">CPF</th>
            <th scope="col">Data de nascimento</th>
            <th scope="col">Cargo</th>
            <th scope="col">Telefone</th>
            <th scope="col">Endereço</th>
            <th scope="col">Salario</th>
        </tr>
    </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Victor Diniz Perri Paoluzzi</td>
                <td>123.456.789-10</td>
                <td>29/05/2006</td>
                <td>Dono</td>
                <td>31 98205-0965</td>
                <td>sao lazaro</td>
                <td>5000</td>
                <td>
                    <div class="btn-group" role="group">
                        <a role="button" class="btn btn-primary">Editar</a>
                        <a role="button" class="btn btn-danger">Deletar</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>